/.vs
/UnitySimulator/.vs
/UnitySimulator/Library
/UnitySimulator/Logs
/UnitySimulator/obj
/UnitySimulator/UserSettings
/UnitySimulator/.vsconfig
/UnitySimulator/UnitySimulator.sln
/UnitySimulator/*.csproj
/PythonAI/AI/.idea
/PythonAI/AI/.venv
/PythonAI/AI/.env