/.vs
/UnitySimulator/.vs
/UnitySimulator/Library
/UnitySimulator/Logs
/UnitySimulator/obj
/UnitySimulator/UserSettings
/UnitySimulator/.vsconfig
/UnitySimulator/UnitySimulator.sln
/UnitySimulator/*.csproj
/PythonAI/.idea
/PythonAI/.venv
/PythonAI/.env
/UnitySimulator/Temp/
/PythonAI/*.jpg
/PythonAI/*.png
/PythonAI/scripts/__pycache__
/PythonAI/yoloAssets/runs
*.localconfig
/back-end/src/main/resources/application.properties